# C++ Build & Artifacts
build/
out/
.vs/
bin/
obj/
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll

# AI Models (Crucial: Keep the 67MB file out of Git)
onnx/
*.onnx

# Package Managers
vcpkg/
vcpkg_installed/
node_modules/
dist/

# Python & Environment
__pycache__/
.venv/
.env
.cache/
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/