@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  overflow: hidden; 
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
}